
.card{
    text-align: center;
    margin:150px auto;
    width:500px;
}
.title{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #ffb3b3;
}
.table{
    text-align: left;
    color: rgb(102, 52, 52);
}
th,td{
    padding: 5px;
}